html, body{
	font-family: system-ui, 'Helvetica Neue','Source Sans Pro', sans-serif;'
	margin: 0px;
	color: #101342;
}
.wrapper{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0px;
}
.header{
	margin-top: 100px;
}
.title{
	font-size: 60px;
	font-weight: 800;
	margin-bottom: 0px;
}
.subtitle{
	font-weight: 500;
	margin-top: 5px;
	font-size: 25px;
}
.description{
	color: #666;
	font-weight: 500;
	margin-top: 30px;
	line-height: 2em;
}
.contact-bar{
	width: 100%;
	margin-top: 40px;
	overflow: hidden;
}
.contact-title{
	float: left;
	padding: 0px;
	margin: 0px;
	margin-top: 7px;
}
.contact-button{
	background-color: #101342;
	color: #FFF;
	padding: 12px 25px 12px 25px;
	font-size: 14px;
	float: right;
	text-align: center;
	border-radius: 30px;
	font-weight: bold;
	display: block;
	text-decoration: none;
}
.contact-button:hover{
	opacity: 0.7;
}

.footer{
	width: 100%;
	margin-top: 100px;
	text-align: center;
}
.footer-link{
	text-decoration: none;
}

/* mediaqueries */
/*tablets*/
@media only screen and (max-width: 600px) {
	.wrapper{
		width: 80%;
		margin-left: 10%;
	}
  	.header{
  		margin-top: 75px;
  	}
  	.description{
  		font-size: 3.5vw;
  	}
  	.title{
  		font-size: 10vw;
  	}
  	.subtitle{
  		font-size: 4vw;
  	}
	.contact-title{
		width: 100%;
		float: none;
		text-align: center;
	}
	.contact-button{
		float: none;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	
}